@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vishal Foods Pvt. Ltd.</h1>
    <p class="lead">Welocme @User.Identity.Name</p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage your sales inventory and accounts</h2>
        <p>
            You can now navigate and get started !
        </p>
        
    </div>
  
</div>